name: Build

on:
  push:
    branches:
      - '**'
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Build (Release)
        run: cargo build --release --all-features --verbose

      - name: Upload Binaries (linux)
        if: runner.os == 'Linux'
        uses: actions/upload-artifact@v4
        with:
          name: ida-c-splitter-linux
          path: target/release/ida-c-splitter
          if-no-files-found: error

      - name: Upload Binaries (windows)
        if: runner.os == 'Windows'
        uses: actions/upload-artifact@v4
        with:
          name: ida-c-splitter-windows
          path: target/release/ida-c-splitter.exe
          if-no-files-found: error
